:root{
  --text-color: white;
  --align: center
}

body {
    margin: 0;
    background-color: #111;
  }

  nav{
    background-color: #147485ba;
  }

  .logo{
    height: 70px;
  }

.titre1{
    color: var(--text-color);
    margin-left: 38%;
    margin-top: 5%;
  }

  .titreDetail{
    text-align: var(--align);
    color: var(--text-color);
  }
  
  ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

  }
  
  li {
    float: left;
  }
  
  li a {
    display: flex;
    color: var(--text-color);
    text-align: center;
    padding: 8% 120px;
    text-decoration: none;
  }

  #a1{
    padding: 8.4% 120px;
  }

  #a3{
    padding: 9.5% 120px;
  }
  
  li a:hover:not(.active) {
    background-color: #147485;
  }
  
  .active {
    background-color: #04AA6D;
  }

  .flex{
    display: flex;
    justify-content: space-around;
    
  }

  .flex .containerImg{
    width: 80%;
    margin-left: 9%;
    margin-top: 2%;

  }

  .containerImg img{
    width: 80%;
    margin-top: 8%;

  }

  .containerImg img:hover{
    transform: scale(1.1);
  }

  .flex1{
    display: flex;
  }

  .flexgauche{
width: 75%;
flex: 1;

  }

  .imageDetail{
    margin-top: 10%;
    margin-bottom: 20%;
    width: 70%;
    margin-left: 25%;
  }


  .flexDroite{
    margin-left: 10%;
    flex: 1;
  }

  .nomChampion{
    color: var(--text-color);
    font-size: 20px;
    text-align: center;
  }

  main{
    background-color: var(--text-color);
    margin-top: 10%;
    margin-left: 20%;
  }

  .listeChampion{
    margin-left: 5%;
    display: flex;
    flex-wrap: wrap;
  }

  .position{
    margin-top: 1%;
    position: fixed;
    width: 20%;
    height: 90%;
    overflow: auto;
    padding-left: 10%;
    padding-right: 15%;
  }

  .imageChampion{
    margin-right: 15%;
  }

  .imageChampion img{
    width: 80%;
  }

  .titreSort{
    color: var(--text-color);
    margin-left: 25%;
    font-size: 20px;
  }

  .graph{
    width: 250px;
    height: 250px;
  }

  

  .containerSort{
    width:  170%;
    background-color: #147485ba;
  }

  .containerSort ul{
    display: flex;
    padding-top: 5%;
    justify-content: space-around;
    min-width: 500px;
    min-height: 130px;
  }

  .containerSort ul li {
    max-width: 60px;
  }

  .capaciteActive{
    text-align: center;
    color: var(--text-color);
  }

  .textCapacitePassive{
    color: var(--text-color);
    margin-left: 30%;
  }

  .nomCapacitePassive{
    margin-left: 30%;
    color: var(--text-color);
  }

  .imagePassive{
    margin-left: 39%;
  }

  .recherche{
    color: var(--text-color);
    margin-left: 35%;
  }

  #recherche{
    margin-left: 35%;
  }

  .bouton{
    margin-left: 35%;
    width: 25.3%;
    height: 40px;
  }

  .nomChampionAccueil{
    color: var(--text-color);
  }

  .btnGenerate{
    margin-left: 35%;
    width: 25.3%;
    height: 40px;
  }

  #inputGenerate{
    margin-left: 35%;
  }

  .titreGenerate{
    color: white;
    margin-left: 30%;
  }

  .envoyer{
    margin-left: 35%;
    width: 25.3%;
    height: 40px;
  }
  
  #filtre{
    margin-left: 35%;
    width: 25%;
    height: 25px;
  }

  .tentative{
    color: white;
    text-align: center;
  }

  .indice {
    color: white;
    text-align: center;
  }

h3{
  color: white;
  margin-left: 20%;
}

  .imageRandom{
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 39%;
  }

  .formChampionGenerate{
    border: 2px solid #147485ba;
    padding: 0;
    width: 75%;
    margin-left: 10%;
    margin-bottom: 5%;
  }

  .rechercheChampion{
    border: 2px solid #147485ba;
    margin-bottom: 10%;
    width: 75%;
    margin-left: 10%;
    margin-top: 5%;
  }

  .nbtentative1{
    color: red;
    font-size: 30px;
  }