body {
    margin: 0;
    background-color: #111;
  }

  .logo{
    height: 70px;
  }

.titre1{
    color: white;
    margin-left: 38%;
    margin-top: 5%;
  }

  .titreDetail{
    color: white;
  }
  
  ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #147485ba;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: flex;
    color: white;
    text-align: center;
    padding: 8% 120px;
    text-decoration: none;
  }

  #a1{
    padding: 8.4% 120px;
  }

  #a3{
    padding: 9.5% 120px;
  }
  
  li a:hover:not(.active) {
    background-color: #147485;
  }
  
  .active {
    background-color: #04AA6D;
  }

  .flex{
    display: flex;
    justify-content: space-around;
    
  }

  .flex .containerImg{
    width: 80%;
    margin-left: 9%;
    margin-top: 2%;

  }

  .containerImg img{
    width: 80%;
    margin-top: 8%;
  }

  .containerImg img:hover{
    transform: scale(1.1);
  }

  .flex1{
    display: flex;
  }

  .flexgauche{
display: flex;
width: 80%;
flex: 1;
flex-wrap: wrap;
  }

  .imageDetail{
    margin-top: 10%;
    margin-bottom: 20%;
    width: 70%;
    margin-left: 20%;
  }


  .flexDroite{
    margin-right: 15%;
    flex: 1;
  }

  .nomChampion{
    color: white;
    font-size: 20px;
    text-align: center;
  }

  main{
    background-color: white;
  }

  .listeChampion{
    display: flex;
    flex-wrap: wrap;
  }