:root{
  --text-color: white;
  --align: center
}

body {
    margin: 0;
    background-color: #111;
  }

  .logo{
    height: 70px;
  }

.titre1{
    color: var(--text-color);
    margin-left: 38%;
    margin-top: 5%;
  }

  .titreDetail{
    text-align: var(--align);
    color: var(--text-color);
  }
  
  ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #147485ba;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: flex;
    color: var(--text-color);
    text-align: center;
    padding: 8% 120px;
    text-decoration: none;
  }

  #a1{
    padding: 8.4% 120px;
  }

  #a3{
    padding: 9.5% 120px;
  }
  
  li a:hover:not(.active) {
    background-color: #147485;
  }
  
  .active {
    background-color: #04AA6D;
  }

  .flex{
    display: flex;
    justify-content: space-around;
    
  }

  .flex .containerImg{
    width: 80%;
    margin-left: 9%;
    margin-top: 2%;

  }

  .containerImg img{
    width: 80%;
    margin-top: 8%;

  }

  .containerImg img:hover{
    transform: scale(1.1);
  }

  .flex1{
    display: flex;
  }

  .flexgauche{
display: flex;
width: 75%;
flex: 1;
flex-wrap: wrap;
  }

  .imageDetail{
    margin-top: 10%;
    margin-bottom: 20%;
    width: 70%;
    margin-left: 25%;
  }


  .flexDroite{
    margin-left: 10%;
    flex: 1;
  }

  .nomChampion{
    color: var(--text-color);
    font-size: 20px;
    text-align: center;
  }

  main{
    background-color: var(--text-color);
    margin-top: 10%;
    margin-left: 20%;
  }

  .listeChampion{
    margin-left: 5%;
    display: flex;
    flex-wrap: wrap;
  }

  .position{
    margin-top: 1%;
    position: fixed;
    width: 20%;
    height: 90%;
    width: 20%;
    overflow: auto;
    padding-left: 10%;
    padding-right: 15%;
  }

  .imageChampion{
    margin-right: 15%;
  }

  .imageChampion img{
    width: 80%;
  }

  .titreSort{
    color: var(--text-color);
    margin-left: 25%;
    font-size: 20px;
  }

  .graph{
    width: 250px;
    height: 250px;
  }

  

  .containerSort{
    width: 120%;
  }

  .containerSort{
    display: flex;
    justify-content: space-around;
  }

  .containerSort ul{
    display: flex;
    padding-top: 5%;
    justify-content: space-around;
    min-width: 700px;
    min-height: 130px;
  }

  .containerSort ul li {
    max-width: 60px;
  }

  .capaciteActive{
    color: var(--text-color);
  }
  